@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  background-color: black;
}

.line {
  border: 1px solid red;
}

.movie-box {
  width: 300px;
  padding: 0;
  margin: 10px;
  border: 2px solid black;
  position: relative;
}

.movie-box:hover {
  opacity: 1;
}
.overview {
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
}

.movie-box .movie-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.movie-info {
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
}

.movie-list-area {
  display: flex;
}

.movie-box .overview {
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
}

.movie-box:hover .overview {
  opacity: 1;
}

.width-100 {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
}

.container1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 200px 200px;
  border: 1px solid red;
}

.girdcss {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 4열 그리드 */
  grid-template-columns: repeat(4, 1fr);
  gap: 16px; /* 그리드 항목 간의 간격 */
}
